
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap');

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: 'Hind Madurai', sans-serif;
	background-color: #f5d4b3;
	margin: 0px;
	color: black;
}

a {
	text-decoration: none;
}	

h1 {
	color: black;
}